- var n = Math.random()
doctype html
html(lang='pt-BR')
  head
    base(href='/')
    title Refazenda - Festas com afeto
    meta(charset='utf-8')
    meta(name='description', content='Festas infantis: decoração e buffet')
    meta(name='author', content='Pri Silveira')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='css/style.css?sid=' + n)
    block head_end
  body
    .bg-section(data-behavior='parallax-bg')
    block menu
    main#content
      block content

    block body_end
    script(src='js/jquery.js')
    script(src='js/popper.js')
    script(src='js/bootstrap.js')
    script(src='js/scripts.js')
