extends _layouts/home
block head_end

block menu

block content
  include _partials/home
  include _partials/refazenda
  include _partials/decoracao
  include _partials/buffet
  include _partials/contato

block body_end
