extends _layouts/home

block head_end

block menu
  include _partials/_menu

block content
  include _partials/_home
  include _partials/_refazenda
  include _partials/_decoracao
  include _partials/_buffet
  include _partials/_contato

block body_end
