nav#menu.navbar.navbar-dark.navbar-expand-lg.fixed-top
  .social-buttons
    a.mx-3(href='https://facebook.com/refazendafestas/', target='_blank', title='/refazendafestas')
      i.fa.fa-facebook-official
    a.mx-3(href='https://www.instagram.com/refazenda_festascomafeto/', target='_blank', title='@refazenda_festascomafeto')
      i.fa.fa-instagram
  button#menu-toggler.navbar-toggler(type='button', data-toggle='collapse', data-target='#menu-principal', aria-controls='menu-principal', aria-expanded='false', aria-label='Alternar visibilidade do menu')
    div
    div
    div
  #menu-principal.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='#home') Home
      li.nav-item
        a.nav-link(href='#refazenda') Quem Somos
      li.nav-item
        a.nav-link(href='#decoracao') Decoração
      li.nav-item
        a.nav-link(href='#buffet') Buffet
      li.nav-item
        a.nav-link(href='#contate-nos') Contato
